<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
   <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="" (click)="showDropDown();">
            <hr *ngIf="isdataReadyForGrid">
            <div class="btn-group" *ngIf="isdataReadyForGrid" style="display: flex;align-items: center; justify-content: center;">
              <p>{{opcionesMessage}}</p>
            </div>
            <div class="btn-group" *ngIf="isdataReadyForGrid" style="display: flex;align-items: center; justify-content: center;">
                <i _ngcontent-c25="" [ngClass]="{'now-ui-icons':true,'arrows-1_minimal-down':!this.opciones ,'arrows-1_minimal-up': this.opciones,'pr-3':true}" ></i>
            </div>
          </div>
          <h4 class="card-title">REPORTES</h4>
        </div>
        <div class="btn-group" style="float: right; padding-right: 5%;">
        </div>
        <br><br><br>

        
        <div class="card-body">
          <div *ngIf="!isdataReadyForGrid">
            <form (ngSubmit)="onSubmit()" [formGroup]=ordenForm #formDir="ngForm">
              <div class="row"> <!--PRIMER ROW -->
                <div class="col-md-12 col-12"> <!--PRIMER CAMPO -->
                  <div class="form-group">
                    <label for="obra_id">Selecciona un cliente </label>
                    <select  class="form-control" id="obra_id" required name="obra_id" formControlName="obra_id" (change)="onObraBlur()">
                      <option value="" [disabled]="true" selected>Selecciona un cliente...</option>  
                      <option *ngFor="let obra of mis_obras" [value]="obra.id_cliente">
                        {{obra.nombre}}
                      </option>   
                    </select>
                    <div *ngIf="obra_id.invalid && (obra_id.dirty || obra_id.touched)" class="alert alert-danger">
                      <div *ngIf="obra_id.errors.required"> Obra requerida.</div>
                    </div>
                  </div>
                </div> <!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMER ROW -->
            </form>
          </div>
          <hr *ngIf="!isdataReadyForGrid">
          <div *ngIf="isdataReadyForGrid">
            <div class="btn-group" *ngIf="selected"  style="float: right; padding-right: 5%;">
              <button class="btn btn-success"  (click)="openLote();">
                <span><b>Ver lote &nbsp;&nbsp;</b></span>
                <i class="fas fa-external-link-alt" style="font-size:18px; display: inline-block; "></i>
              </button>
            </div>
            <div class="btn-group" *ngIf="selected"  style="float: right; padding-right: 5%;">
              <button class="btn btn-success" (click)="openPDF();">
                <span><b>Ver PDF &nbsp;&nbsp;</b></span>
                <i class="fa fa-file-pdf-o" style="font-size:18px; display: inline-block; "></i>
              </button>
            </div>
            <div *ngIf="selected">
              <br><br><br>
            </div>
            <p style="color: red;"><b>{{noRowDataError}}</b></p>
            <ag-grid-angular 
              #agGrid
              id="myGrid"
              style="width: 100%; height: 350px;" 
              class="ag-theme-balham"
              [enableSorting]="true"
              [rowData]="rowData" 
              [columnDefs]="columnDefs"
              [enableFilter]="true"
              [enableColResize]="true"
              [colResizeDefault]="false"
              [suppressAutoSize]="true"
              [rowSelection]="rowSelection"
              (selectionChanged)="onSelectionChanged($event)"
              (gridReady)="onGridReady($event)"
              >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
