<hr>
	<h5 style="text-align: center;" class="card-title">GENERACI&Oacute;N DE FORMATOS FINALES.</h5>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
      <div class="btn-group" style="padding-right: 5%;">  
        <button [ngClass]="{'btn':true ,'btn-default': !isSelected && isGenerarPDFValid, 'btn-success':isSelected && isGenerarPDFValid}" (click)="onClickGenerarPDF();">
          <span><b> GENERAR PDF FINAL </b></span>
        </button>
      </div>
      <div class="btn-group" style="padding-right: 5%;">
        <button [ngClass]="{'btn':true ,'btn-default': !isSelected && isVerPDFValid, 'btn-success':isSelected && isVerPDFValid}" (click)="onClickVizualizarPDF();">
          <span><b> VISUALIZAR PDF </b></span>
        </button>
      </div>
      <div class="btn-group" style="padding-right: 5%;">
        <button [ngClass]="{'btn':true ,'btn-default': !isSelected && isAutoValid, 'btn-success':isSelected && isAutoValid}" (click)="onClickAutorizar();">
          <span><b> AUTORIZAR & ENVIAR </b></span>
        </button>
      </div>  
    </div>

    <hr>
    <h5 style="text-align: center;" class="card-title">EDICI&Oacute;N DE REGISTROS.</h5>
	<div class="row" style="display: flex; float: right; padding-right: 5%;">
		<div class="btn-group">
		    <button  [ngClass]="{'btn':true ,'btn-default': !isSelected && isVerCampoValid, 'btn-success':isSelected && isVerCampoValid}"  (click)="onLoadCCH();">
		      <span><b>VIZUALIZAR DE CAMPO</b></span>
		    </button>
    </div>
    <div class="btn-group" style="padding-right: 5%;">
		    <button [ngClass]="{'btn':true ,'btn-default': !isSelected && isVerEnsayoValid, 'btn-success':isSelected && isVerEnsayoValid}" (click)="onLoadEnsayo();">
		      <span><b>VIZUALIZAR ENSAYO</b></span>
		    </button>
		</div>
	</div>

<br><br><br>
<ag-grid-angular 
#agGrid
id="myGrid"
style="width: 100%; height: 300px;" 
class="ag-theme-balham"
[enableSorting]="true"
[rowData]="rowData" 
[columnDefs]="columnDefs"
[rowClassRules]="rowClassRules"
[enableFilter]="true"
[enableColResize]="true"
[colResizeDefault]="false"
[suppressAutoSize]="true"
[rowSelection]="rowSelection"
(selectionChanged)="onSelectionChanged($event)"
(gridReady)="onGridReady($event)"
>
</ag-grid-angular>
    
    
  

