 <div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
   <div class="col-md-12">
      <div class="card"> 
        <hr>
        <div class="card-header">
          <h4 style="text-align: center; font-size:30px;" class="card-title">Funcionalidad en construcci&oacute;n</h4>
          <p style="float: right"><b>Fecha de termino programada:</b> 25 de Enero de 2019</p>
        </div>
        <div class="card-body">
          <div align="center">
            <img src=" assets/img/construccion.png">
          </div>
          <br>
          <p style="text-align: center; font-size:20px;"><b>"Las molestias son temporales, los beneficios, para siempre"</b></p>
        </div>
        <hr>
      </div>
    </div>
  
</div>
