<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h4 style="text-align: center; font-size:30px;" class="card-title">{{estadoTitle}}</h4>

        </div>
        <h4><i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaOrdenTrabajo();"></i></h4>
        <div class= "row" style="display: flex; align-items: center; justify-content: center;">

          <div class="btn-group" style="padding-right: 5%;">
              <button [ngClass]="{'btn':true ,'btn-default': !verFomatoCampo,'btn-success': verFomatoCampo }"  (click)="onLoadCCH();">
                <span><b>VER FORMATO DE CAMPO &nbsp;&nbsp;</b></span>
                <i class="fa fa-file-pdf-o" style="font-size:18px; display: inline-block;"></i>
              </button>
          </div>
          <div class="btn-group" style="padding-right: 5%;">
              <button [ngClass]="{'btn':true ,'btn-default': !verPreliminarGabs,'btn-success': verPreliminarGabs }"  (click)="onLoadEnsayo();">
                <span><b>VER FORMATO DE ENSAYO &nbsp;&nbsp;</b></span>
                <i class="fa fa-file-pdf-o" style="font-size:18px; display: inline-block;"></i>
              </button>
          </div>
          <!-- Este boton completara el formato y subira a todos los hijos -->
          <div style="display: inline-block;">
            <button [ngClass]="{'btn':true ,'btn-default': !completarFormato,'btn-success': completarFormato }"  (click)="obtenStatusReg();"> 
              <span><b>FORMATO COMPLETADO &nbsp;&nbsp;</b></span>
              <i class="fa fa-check-square-o" style="font-size:18px; display: inline-block; "></i>
            </button>
          </div>  
        </div>
        <div class="card-body">
         
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-12 col-md-12">
      <div class="card card-chart">
        
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=formatoCCHForm #formDir="ngForm">
            
            <div class="row"> <!--PRIMER ROW -->

              <div class="col-md-10 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="obra">NOMBRE DE LA OBRA</label> <!--disable-->
                    <input type="text" id="obra"   
                    class="form-control" 
                    name="obra" placeholder="" required   formControlName="obra">
                     <div *ngIf="obra.invalid && (obra.dirty || obra.touched)"
                      class="alert alert-danger">
                      <div *ngIf="obra.errors.required">
                        Obra requerida.
                      </div>
                    </div>
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div> <!--FIN PRIMER ROW -->

            <div class="row">
              <div class="col-md-10 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="localizacion">LOCALIZACION DE LA OBRA</label> <!--disable-->
                    <input type="text" id="localizacion"   
                    class="form-control" 
                    name="localizacion" placeholder="" required   formControlName="localizacion">
                     <div *ngIf="localizacion.invalid && (localizacion.dirty || localizacion.touched)"
                        class="alert alert-danger">
                        <div *ngIf="localizacion.errors.required">
                          Localizacion requerida.
                        </div>
                      </div>
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-2 col-12"> <!--SEGUNDO GRID -->
                <div class="form-group"><!--SEGUNDO CAMPO -->
                  <label for="informe">INFORME No</label>
                  <input type="text" id="informe"   class="form-control"  name="informe" placeholder="" formControlName="informe">
                   <div *ngIf="informe.invalid && (informe.dirty || informe.touched)" class="alert alert-danger">
                      <div *ngIf="informe.errors.required">
                        No. de orden requerido.
                      </div>
                    </div>
                </div> <!--FIN SEGUNDO CAMPO -->
              </div> <!--FIN SEGUNDO GRID -->
            </div>

            <div class="row">
              <div class="col-md-10 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="empresa">NOMBRE DE LA EMPRESA</label> <!--disable-->
                    <input type="text" id="empresa"   
                    class="form-control" 
                    name="empresa" placeholder="" required   formControlName="empresa">
                     <div *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)"
                      class="alert alert-danger">
                      <div *ngIf="empresa.errors.required">
                        Empresa requerida.
                      </div>
                    </div>
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>

            <div class="row">
              <div class="col-md-10 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="direccion">DIRECCION DE LA EMPRESA</label> <!--disable-->
                    <input type="text" id="direccion"   
                    class="form-control" 
                    name="direccion" placeholder="" required   formControlName="direccion">
                     <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                      class="alert alert-danger">
                      <div *ngIf="direccion.errors.required">
                        Empresa requerida.
                      </div>
                    </div>
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h3 style="text-align: center; font-size:35px;" class="card-title">CONTROL DE CONCRETO HIDRAULICO.</h3>
        </div>
        <div class="card-body">
          <app-formato-cch-grid *ngIf="isMainGridVisible" (cambiarCargando)="cambiarCargando($event)" (reloadComponent)="reloadComponent($event)"></app-formato-cch-grid>
        </div> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=formatoCCHForm #formDir="ngForm">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <h4 style="text-align: center;" class="card-title">DETALLES DEL FORMATO DE CONTROL DE CONCRETO HIDRAULICO.</h4>
                  <label for="observaciones">OBSERVACIONES</label>
                  <textarea  id="observaciones" class="form-control" placeholder="" formControlName="observaciones"> </textarea>
                </div>
              </div>
            </div> <!--FIN ROW-->
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Tipos de Especimen</label>
                  <select type="text" id="especimen" required name="especimen" class="form-control" placeholder="Especimen" formControlName="tipo_especimen" (change)=onChangeTipoEspecimen();>
                    <option value="" [disabled]="true">Selecciona el tipo de especimen...</option>
                    <option *ngFor="let especimen of espec" [value]="especimen.id">
                      {{especimen.especimen}}
                    </option>
                  </select>
                  <div *ngIf="tipo_especimen.invalid && (tipo_especimen.dirty || tipo_especimen.touched)" class="alert alert-danger">
                   <div *ngIf="tipo_especimen.errors.required">
                   Tipo Especimen Requerido.
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                 <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="tconcreto">TIPO DE CONCRETO</label> <!--disable-->
                    <select  class="form-control" required id="tconcreto" name="tconcreto" formControlName="tconcreto" (change)="onBlurTipoConcreto()">
                          <option value="0" [disabled]="true">Selecciona un tipo de concreto...</option>
                          <option *ngFor="let tconcreto of tipoconcreto" [value]="tconcreto.id">
                                {{tconcreto.tconcreto}}
                          </option>
                    </select>
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div> <!--FIN ROW-->
            <div class="row">
              <div [ngClass]="{'col-md-3':tipoMuestra,'col-md-4':!tipoMuestra,'col-12':true}"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="especimen1">Especimen 1</label> <!--disable-->
                    <input type="text" id="especimen1" class="form-control" required name="especimen1" placeholder="" formControlName="especimen1">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div [ngClass]="{'col-md-3':tipoMuestra,'col-md-4':!tipoMuestra,'col-12':true}"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="especimen2">Especimen 2</label> <!--disable-->
                    <input type="text" id="especimen2"   
                    class="form-control" 
                    name="especimen2" placeholder="" formControlName="especimen2" required required (change)="onBlurEspecimen2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div [ngClass]="{'col-md-3':tipoMuestra,'col-md-4':!tipoMuestra,'col-12':true}"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="especimen3">Especimen 3</label> <!--disable-->
                    <input type="text" id="especimen3"   
                    class="form-control" 
                    name="especimen3" placeholder="" formControlName="especimen3" required (change)="onBlurEspecimen3()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
              <div [ngClass]="{'col-md-3':tipoMuestra,'col-md-4':!tipoMuestra,'col-12':true}" *ngIf="tipoMuestra"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="especimen4">Especimen 4</label> <!--disable-->
                    <input type="text" id="especimen4"  class="form-control" 
                    name="especimen4" placeholder="" formControlName="especimen4" required>
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div> <!--FIN ROW-->
            
            <h6>Inventario de Intrumento</h6>
            <div class="row">
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="cono">Cono</label>
                  <select  class="form-control" id="cono" 
                    required name="cono"
                    placeholder="Tipos"  formControlName="cono">
                    <option value="" [disabled]="true">Selecciona un cono...</option>
                    
                    <option *ngFor="let cono of mis_conos" [value]="cono.id_herramienta">
                      {{cono.placas}}
                    </option>
                  </select>
                  <div *ngIf="cono.invalid && (cono.dirty || cono.touched)" class="alert alert-danger">
                   <div *ngIf="cono.errors.required">
                   Cono Requerido.
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="varilla">Varilla</label>
                  <select  class="form-control" id="varilla" 
                    required name="varilla"
                    placeholder="Tipos"  formControlName="varilla">
                    <option value="" [disabled]="true">Selecciona una varilla...</option>
                    
                    <option *ngFor="let varilla of mis_varillas" [value]="varilla.id_herramienta">
                      {{varilla.placas}}
                    </option>
                  </select>
                  <div *ngIf="varilla.invalid && (varilla.dirty || varilla.touched)" class="alert alert-danger">
                   <div *ngIf="varilla.errors.required">
                   Varilla Requerido.
                   </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="flexometro">Flexometro</label>
                  <select  class="form-control" id="flexometro" 
                    required name="flexometro"
                    placeholder="Tipos"  formControlName="flexometro">
                    <option value="" [disabled]="true">Selecciona un termometro...</option>
                    
                    <option *ngFor="let flexometro of mis_flexometro" [value]="flexometro.id_herramienta">
                      {{flexometro.placas}}
                    </option>
                  </select>
                  <div *ngIf="flexometro.invalid && (flexometro.dirty || flexometro.touched)" class="alert alert-danger">
                   <div *ngIf="flexometro.errors.required">
                   Flexometro Requerido.
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="termometro">Termometro</label>
                  <select  class="form-control" id="termometro" 
                    required name="termometro"
                    placeholder="Tipos"  formControlName="termometro">
                    <option value="" [disabled]="true">Selecciona un termometro...</option>    
                    
                    <option *ngFor="let termometro of mis_termometro" [value]="termometro.id_herramienta">
                      {{termometro.placas}}
                    </option>
                  </select>
                  <div *ngIf="termometro.invalid && (termometro.dirty || termometro.touched)" class="alert alert-danger">
                   <div *ngIf="termometro.errors.required">
                   Termometro Requerido.
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="btn-group"  style="float: right; padding-right: 10%;">
              <button class="btn btn-info" *ngIf="hiddenf == true && !formatoStatus"  (click)="mostrarFooter()">
                <span><b> Cambiar Datos </b></span>
              </button>
            <button class="btn btn-success" *ngIf="!hiddenf" [disabled]="formatoCCHForm.invalid" (click)="actualizarFooter();">
              <span><b> Guardar Cambios </b></span>
            </button>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-12 col-12">
      <app-footerEnsayo *ngIf="footerExist" (linkPreliminarGabs)="linkPreliminarGabs($event)"></app-footerEnsayo>
      <div *ngIf="!footerExist">
        <div class="card">
          <div class="card-body">
            <h4>No se ha ensayado</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
