
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
<div class="row">
    <div class="col-lg-12 col-12 col-md-12">
      <div class="card card-chart">
        
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=formatoCCHForm #formDir="ngForm">
            <h5>REGISTRO DEL ENSAYO A FLEXI&Oacute;N DE VIGAS DE CONCRETO CON CARGA A LOS TERCIOS DEL CLARO</h5>
            <div class="row"> <!--PRIMER ROW -->
              
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="idMuestra">IDENTIFICACI&Oacute;N DE LA MUESTRA</label> <!--disable-->
                    <input type="text" id="idMuestra"   
                    class="form-control" 
                    name="idMuestra" placeholder="" formControlName="idMuestra">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="fechaColado">FECHA DE COLADO</label> <!--disable-->
                    <input type="date" id="fechaColado"   
                    class="form-control" 
                    name="fechaColado" placeholder="" formControlName="fechaColado">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="fechaEnsayo">FECHA DE ENSAYO</label> <!--disable-->
                    <input type="date" id="fechaEnsayo"   
                    class="form-control" 
                    name="fechaEnsayo" placeholder="" formControlName="fechaEnsayo">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

            </div> <!--FIN PRIMER ROW -->

            <div class="row"> <!--PRIMER ROW -->
              <div class="col-md-12 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="edadEnsaye">EDAD DIAS</label> <!--disable-->
                    <input type="text" id="edadEnsaye"   
                    class="form-control" 
                    name="edadEnsaye" placeholder="" formControlName="edadEnsaye">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div> <!--FIN PRIMER ROW -->

            <div class="row">
              <div class="col-md-12 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="condiCurado">CONDICIONES DE CURADO Y HUMEDAD</label>
                    
                    <select  class="form-control" id="condiCurado" name="condiCurado" formControlName="condiCurado" required (change)="onBlurCurado()">
                          <option value="null" [disabled]="true">Selecciona la condicion de curado y humedad...</option>
                          <option *ngFor="let condicion of curado" [value]="condicion.id">
                                {{condicion.condicion}}
                          </option>
                    </select>

                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            
            <h6>PUNTOS DE APOYO (SI/NO)</h6>

            <div class="row">
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="lijado">LIJADO</label> <!--disable-->
                    <input type="text" id="lijado"   
                    class="form-control" 
                    name="lijado" placeholder="" formControlName="lijado" required (change)="onBlurLijado()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="cuero">CUERO</label> <!--disable-->
                    <input type="text" id="cuero"   
                    class="form-control" 
                    name="cuero" placeholder="" formControlName="cuero" required (change)="onBlurCuero()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>

            <h6>ANCHO(cm)</h6>

            <div class="row">
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="ancho1">LEC 1</label> <!--disable-->
                    <input type="text" id="ancho1"   
                    class="form-control" 
                    name="ancho1" placeholder="" formControlName="ancho1" required (change)="onBlurAncho1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="ancho2">LEC 2</label> <!--disable-->
                    <input type="text" id="ancho2"   
                    class="form-control" 
                    name="ancho2" placeholder="" formControlName="ancho2" required (change)="onBlurAncho2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            <h6>PERALTE(cm)</h6>
            <div class="row">
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="per1">LEC 1</label> <!--disable-->
                    <input type="text" id="per1"   
                    class="form-control" 
                    name="per1" placeholder="" formControlName="per1" required (change)="onBlurPer1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="per2">LEC 2</label> <!--disable-->
                    <input type="text" id="per2"   
                    class="form-control" 
                    name="per2" placeholder="" formControlName="per2" required (change)="onBlurPer2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            <h6>LOCALIZACI&Oacute;N DE LA FALLA EN mm</h6>
            <div class="row">
              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="l1">L1</label> <!--disable-->
                    <input type="text" id="l1"   
                    class="form-control" 
                    name="l1" placeholder="" formControlName="l1" (change)="onBlurL1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="l2">L2</label> <!--disable-->
                    <input type="text" id="l2"   
                    class="form-control" 
                    name="l2" placeholder="" formControlName="l2" (change)="onBlurL2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="l3">L3</label> <!--disable-->
                    <input type="text" id="l3"   
                    class="form-control" 
                    name="l3" placeholder="" formControlName="l3" (change)="onBlurL3()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="prom">PROM</label> <!--disable-->
                    <input type="text" id="prom"   
                    class="form-control" 
                    name="prom" placeholder="" formControlName="prom">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
          
            <div class="row">
              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="  ">DISTANCIA ENTRE APOYOS(cm)</label>
                    <input type="text" id="disApoyos"  
                    class="form-control" 
                    name="disApoyos" placeholder="" formControlName="disApoyos" required (change)="onBlurDisApoyos()">
                     <div *ngIf="disApoyos.invalid && (disApoyos.dirty || disApoyos.touched)"
                      class="alert alert-danger">
                        <div *ngIf="disApoyos.errors.required">
                          Distancia entre apoyos.
                        </div>
                      </div>
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="disCarga">DISTANCIA ENTRE PUNTOS DE CARGA (cm)</label> <!--disable-->
                    <input type="text" id="disCarga"   
                    class="form-control" 
                    name="disCarga" placeholder="" formControlName="disCarga" required (change)="onBlurDisCarga()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="cargaAplicada">CARGA APLICADA(kgf/cm<sup>2</sup>)</label>
                    <input type="text" id="cargaAplicada"  
                    class="form-control" 
                    name="cargaAplicada" placeholder="" formControlName="cargaAplicada" required (change)="onBlurCargaAplicada()">
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->
            </div>

            <div class="row">
              
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="moduloRuptura">M&Oacute;DULO DE RUPTURA(kgf/cm<sup>2</sup></label> <!--disable-->
                    <input type="text" id="moduloRuptura"  
                    class="form-control" 
                    name="moduloRuptura" placeholder="" formControlName="moduloRuptura">                
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="defectos">DEFECTOS ESPECIMEN</label> <!--disable-->
                    <input type="text" id="defectos"  
                    class="form-control" 
                    name="defectos" placeholder="" formControlName="defectos" (change)="onBlurDefectos()">                
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="realizo">REALIZ&Oacute;</label> <!--disable-->
                    <input type="text" id="realizo"  
                    class="form-control" 
                    name="realizo" placeholder="" formControlName="realizo">                
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            
            <div class="row">
              <div class="col-md-2 col-12">
                   <!-- Aqui estaban dos botones -->
              </div>
              <div class="col-md-6 col-md-offset-6 col-12">

              </div>
              <div class="col-md-2 col-12">

                <button class="btn btn-success" *ngIf="hidden" [disabled]="formatoCCHForm.invalid" (click)="cambiarDatos();">
                    <span><b> Cambiar Datos. </b></span>
                  </button>

                <button class="btn btn-default" *ngIf="!hidden" (click)="llenarDespues()">
                      <span><b> Llenar mas tarde. </b></span>
                </button>
              </div>
              <div class="col-md-2 col-12">
                <button class="btn btn-success" *ngIf="!hidden" (click)="validaCamposVacios()">
                      <span><b> Registro Completo. </b></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
