
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
<div class="row">
    <div class="col-lg-12 col-12 col-md-12">
      <div class="card card-chart">
        
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=formatoCCHForm #formDir="ngForm">
            <h5>REGISTRO DEL ENSAYO A FLEXI&Oacute;N DE VIGAS DE CONCRETO CON CARGA A LOS TERCIOS DEL CLARO</h5>
            <div class="row"> <!--PRIMER ROW -->
              
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="idMuestra">IDENTIFICACI&Oacute;N DE LA MUESTRA</label> <!--disable-->
                    <input type="text" id="idMuestra"   
                    class="form-control" 
                    name="idMuestra" placeholder="" formControlName="idMuestra" (blur)="onBlurIdMuestra()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="fechaColado">FECHA DE COLADO</label> <!--disable-->
                    <input type="date" id="fechaColado"   
                    class="form-control" 
                    name="fechaColado" placeholder="" formControlName="fechaColado" (blur)="onBlurFechaColado()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="fechaEnsayo">FECHA DE ENSAYO</label> <!--disable-->
                    <input type="date" id="fechaEnsayo"   
                    class="form-control" 
                    name="fechaEnsayo" placeholder="" formControlName="fechaEnsayo" (blur)="onBlurFechaEnsayo()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

            </div> <!--FIN PRIMER ROW -->

            <div class="row"> <!--PRIMER ROW -->
              <div class="col-md-12 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="edadEnsaye">EDAD DIAS</label> <!--disable-->
                    <input type="text" id="edadEnsaye"   
                    class="form-control" 
                    name="edadEnsaye" placeholder="" formControlName="edadEnsaye" (blur)="onBlurEdadEnsaye()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div> <!--FIN PRIMER ROW -->

            <div class="row">
              <div class="col-md-12 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="condiCurado">CONDICIONES DE CURADO Y HUMEDAD</label>
                    
                    <select  class="form-control" id="condiCurado" name="condiCurado" formControlName="condiCurado" (change)="onBlurCurado()">
                          <option value="0" [disabled]="true">Selecciona la condicion de curado y humedad...</option>
                          <option *ngFor="let condicion of curado" [value]="condicion.id">
                                {{condicion.condicion}}
                          </option>
                    </select>

                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            
            <h6>PUNTOS DE APOYO (SI/NO)</h6>

            <div class="row">
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="diametro1">LIJADO</label> <!--disable-->
                    <input type="text" id="diametro1"   
                    class="form-control" 
                    name="diametro1" placeholder="" formControlName="diametro1" (blur)="onBlurDiametro1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="diametro2">CUERO</label> <!--disable-->
                    <input type="text" id="diametro2"   
                    class="form-control" 
                    name="diametro2" placeholder="" formControlName="diametro2" (blur)="onBlurDiametro2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>

            <h6>ANCHO(cm)</h6>

            <div class="row">
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura1">LEC 1</label> <!--disable-->
                    <input type="text" id="altura1"   
                    class="form-control" 
                    name="altura1" placeholder="" formControlName="altura1" (blur)="onBlurAltura1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura2">LEC 2</label> <!--disable-->
                    <input type="text" id="altura2"   
                    class="form-control" 
                    name="altura2" placeholder="" formControlName="altura2" (blur)="onBlurAltura2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            <h6>PERALTE(cm)</h6>
            <div class="row">
              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura1">LEC 1</label> <!--disable-->
                    <input type="text" id="altura1"   
                    class="form-control" 
                    name="altura1" placeholder="" formControlName="altura1" (blur)="onBlurAltura1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-6 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura2">LEC 2</label> <!--disable-->
                    <input type="text" id="altura2"   
                    class="form-control" 
                    name="altura2" placeholder="" formControlName="altura2" (blur)="onBlurAltura2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            <h6>LOCALIZACI&Oacute;N DE LA FALLA EN mm</h6>
            <div class="row">
              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura1">L1</label> <!--disable-->
                    <input type="text" id="altura1"   
                    class="form-control" 
                    name="altura1" placeholder="" formControlName="altura1" (blur)="onBlurAltura1()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura2">L2</label> <!--disable-->
                    <input type="text" id="altura2"   
                    class="form-control" 
                    name="altura2" placeholder="" formControlName="altura2" (blur)="onBlurAltura2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura2">L3</label> <!--disable-->
                    <input type="text" id="altura2"   
                    class="form-control" 
                    name="altura2" placeholder="" formControlName="altura2" (blur)="onBlurAltura2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-3 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="altura2">PROM</label> <!--disable-->
                    <input type="text" id="altura2"   
                    class="form-control" 
                    name="altura2" placeholder="" formControlName="altura2" (blur)="onBlurAltura2()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
          
            <div class="row">
              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="  ">DISTANCIA ENTRE APOYOS(cm)</label>
                    <input type="text" id="cargaKg"  
                    class="form-control" 
                    name="cargaKg" placeholder="" formControlName="cargaKg" (blur)="onBlurCargaKg()">
                     <div *ngIf="cargaKg.invalid && (cargaKg.dirty || cargaKg.touched)"
                      class="alert alert-danger">
                        <div *ngIf="cargaKg.errors.required">
                          Distancia entre apoyos.
                        </div>
                      </div>
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="area">DISTANCIA ENTRE PUNTOS DE CARGA (cm)</label> <!--disable-->
                    <input type="text" id="area"   
                    class="form-control" 
                    name="area" placeholder="" formControlName="area" (blur)="onBlurArea()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="resCompresion">CARGA APLICADA(kgf/cm<sup>2</sup>)</label>
                    <input type="text" id="resCompresion"  
                    class="form-control" 
                    name="resCompresion" placeholder="" formControlName="resCompresion" (blur)="onBlurResCompresion()">
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->
            </div>

            <div class="row">
              
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="falla">M&Oacute;DULO DE RUPTURA(kgf/cm<sup>2</sup></label> <!--disable-->
                    <input type="text" id="resCompresion"  
                    class="form-control" 
                    name="resCompresion" placeholder="" formControlName="resCompresion" (blur)="onBlurResCompresion()">                
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="falla">DEFECTOS ESPECIMEN</label> <!--disable-->
                    <input type="text" id="resCompresion"  
                    class="form-control" 
                    name="resCompresion" placeholder="" formControlName="resCompresion" (blur)="onBlurResCompresion()">                
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="falla">REALIZ&Oacute;</label> <!--disable-->
                    <input type="text" id="resCompresion"  
                    class="form-control" 
                    name="resCompresion" placeholder="" formControlName="resCompresion" (blur)="onBlurResCompresion()">                
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>
            
            <div class="row">
              <div class="col-md-2 col-12">
                   <!-- Aqui estaban dos botones -->
              </div>
              <div class="col-md-6 col-md-offset-6 col-12">

              </div>
              <div class="col-md-2 col-12">

                <button class="btn btn-success" *ngIf="hidden" [disabled]="formatoCCHForm.invalid" (click)="mostrar();">
                    <span><b> Cambiar Datos. </b></span>
                  </button>

                <button class="btn btn-default" *ngIf="!hidden" (click)="llenarDespues()">
                      <span><b> Llenar mas tarde. </b></span>
                </button>
              </div>
              <div class="col-md-2 col-12">
                <button class="btn btn-success" *ngIf="!hidden" (click)="validaCamposVacios()">
                      <span><b> Registro Completo. </b></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
