<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaPendientes();"></i>
          <h4 style="text-align: center;"class="card-title">{{mensajeEstado}}</h4>
        </div>
        <div class="card-body">
          <div class="btn-group" style="display: flex;align-items: center; justify-content: center;">
            <div style="display: inline-block; margin-right: 15px;" *ngIf="!loteCompletado"> 
              <button class="btn btn-success"  (click)="mandarCorreoFaltantes();">
                <span><b>Enviar solo correos faltantes &nbsp;&nbsp;</b></span>
                <i class="fa fa-send-o" style="font-size:18px; display: inline-block; "></i>
              </button>
            </div>
            <div style="display: inline-block; margin-right: 15px;" *ngIf="!loteCompletado"> 
              <button class="btn btn-success"  (click)="mandarCorreoTodos();">
                <span><b>Enviar todos los correos &nbsp;&nbsp;</b></span>
                <i class="fa fa-send-o" style="font-size:18px; display: inline-block; "></i>
              </button>
            </div>
            <div style="display: inline-block; margin-right: 15px;" *ngIf="!loteCompletado"> 
              <button   [ngClass]="{'btn':true,'btn-default': !groupMail ,'btn-success': groupMail }" (click)="mandarCorreoenGrupo();">
                <span><b>Enviar correos en grupo &nbsp;&nbsp;</b></span>
                <i class="fa fa-paper-plane" style="font-size:18px; display: inline-block; "></i>
              </button>
            </div>
            <div style="display: inline-block; margin-right: 15px;" *ngIf="formatoStatus == 1"> 
                <button class="btn btn-success" (click)="completarLote();">
                  <span><b>Completar Lote &nbsp;&nbsp;</b></span>
                  <i class="fa fa-check-square-o" style="font-size:18px; display: inline-block; "></i>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card  card-tasks">
        <div class="card-header" >
          <h4 style="text-align: center;" class="card-title">LOTE DE CORREOS</h4>
        </div>
        <div class="card-body">
          
          <div *ngIf="mainGridVisible">
           <app-grid-correos (cambiarCargando)="cambiarCargando($event)"></app-grid-correos>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header" >
          <h4 style="text-align: center;" class="card-title">Factura y observaciones</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]=loteDetailsForm #formDir="ngForm">
            <div class="row">
              <div class="col-md-12 col-12">
                  <div class="form-group">
                  <label for="factua">Factura</label>
                  <input type="text" class="form-control" id="factua" formControlName="factua">
                </div>
              </div>
             
            </div>
            <div class="row">
              <div class="col-md-12 col-12">
                  <div class="form-group">
                  <label for="observaciones">Observaciones Internas</label>
                  <textarea class="form-control" id="observaciones" formControlName="observaciones"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label for="customMail">Adjuntar texto peronalizado</label>
                  <select class="form-control" id="customMail" formControlName="customMail" (change)="onBlurCustomMail()">
                    <option value="0">NO</option>  
                    <option value="1">SI</option>  
                  </select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="customMailFlag">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label for="customText">Texto personalizado</label>
                  <textarea class="form-control" id="customText" formControlName="customText"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label for="adjunto">Adjuntar Factura</label>
                  <select class="form-control" id="adjunto" formControlName="adjunto" >
                    <option value="0">NO</option>  
                    <option value="1">SI</option>  
                  </select>
                </div>
              </div>
            </div>
            
            <div class="btn-group"  style="float: right; padding-right: 10%;" *ngIf="!loteCompletado">
                <button class="btn btn-info" *ngIf="hidden == true"  (click)="mostrar()">
                  <span><b> Cambiar Datos. </b></span>
                </button>
                <button class="btn btn-success" *ngIf="!hidden" [disabled]="loteDetailsForm.invalid" (click)="actualizarLoteDetails();">
                  <span><b> Guardar Cambios. </b></span>
                </button>
              </div>
          </form>
        </div>
      </div>
    </div> 
  </div>
  <div class="row" *ngIf="adjuntoFlag">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header" >
          <h4 style="text-align: center;" class="card-title">Adjuntar PDF y XML</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-12 ">
              <p style="text-align: center;"><b>PDF</b></p>
              <img class="imageDoc" [src]="this.pdfIcon" (click)="abrirPDF()" alt="...">
              <br>
              <button class="btn btn-info buttonDoc" (click)="subirDoc(1)" *ngIf="!loteCompletado">
                <span><b> Cambiar PDF</b></span>
              </button>
            </div>
            <div class="col-md-6 col-12 ">
              <p style="text-align: center;"><b>XML</b></p>
              <img class="imageDoc" [src]="this.xmlIcon" (click)="abrirXML()" alt="...">
              <br>
              <button class="btn btn-info buttonDoc" (click)="subirDoc(2)" *ngIf="!loteCompletado">
                <span><b> Cambiar XML</b></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=footerForm #formDir="ngForm">
            <h6>Informaci&oacute;n General Del Lote de Correos</h6>
            <div class="row">
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="ctrl">CTRL</label>
                  <input type="text" class="form-control" id="ctrl" name="ctrl" formControlName="ctrl">
                </div>
              </div>
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="encargado">ENCARGADO DE ENVIAR EL LOTE</label>
                  <input type="text" class="form-control" id="encargado" name="encargado" formControlName="encargado">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="noCorreos">N&uacute;mero de Reportes</label>
                  <input type="text" class="form-control" id="noCorreos" name="noCorreos" formControlName="noCorreos">
                </div>
              </div>
              <div class="col-md-6 col-12"> <!--SEGUNDO GRID -->
                <div class="form-group"><!--SEGUNDO CAMPO -->
                  <label for="fechaEnsayo">FECHA DE CREACION DE LOTE</label>
                  <input type="text" id="fechaEnsayo"  class="form-control" name="fechaEnsayo" placeholder="" formControlName="fechaEnsayo">
                </div> <!--FIN SEGUNDO CAMPO -->                
              </div> <!--FIN SEGUNDO GRID -->
            </div>
          </form>
        </div>
      </div>
    </div> 
  </div>
  
  



</div>
