<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Crear Nuevo Usuario</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Rol</label> <!--tipo de credencial referido a puestos tales como jefe de laboratorio-->
                  <input type="text" class="form-control"  placeholder="Puesto" #rol_usuario_id>
                </div>
              </div>
              
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo Electronico</label>
                  <input type="email" class="form-control" placeholder="mail@lacocs.com" #email>
                </div>
              </div>

              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" #contrasena>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" #nombre>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" class="form-control" placeholder="Apellidos" #apellido>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Numero Seguro Social</label>
                  <input type="text" class="form-control" placeholder="Numero IMSS" #nss>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Laboratorio ID</label>
                  <input type="text" class="form-control" disabled="" value="1001" #laboratorio_id >
                </div>
              </div>
            </div>            

            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input type="date" class="form-control" #fechaDeNac>
                </div>
              </div>
              
              
            </div>
            
            <div class="btn-group" style="float: right; padding-right: 10%;">
            <button class="btn btn-success" (click)="crearUsuario(rol_usuario_id.value, email.value, contrasena.value, nombre.value, apellido.value, laboratorio_id.value, fechaDeNac.value);">
              <span><b> Guardar Cambios </b></span>
            </button>
            <p>
              {{crearMessage}}
            </p>
          </div>
          </form>
        </div>
      </div>
    </div>
    
</div>
