<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaObra();"></i>
            Crear Nueva Obra</h5>
          </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()"  [formGroup]=obraForm #formDir="ngForm" > <!-- INICIO DEL FORM -->
            <div class="row"> <!-- INICIO PRIMER ROW -->
              <div class="col-md-6 col-12"> <!-- INICIO PRIMER CAMPO -->
                <div class="form-group">
                  <label for="id_obra">Ctrl</label>
                  <input type="text" id="id_obra"  name="id_obra" class="form-control" placeholder="ID" formControlName="id_obra">
                  <div *ngIf="id_obra.invalid && (id_obra.dirty || id_obra.touched)" class="alert alert-danger">            
                    <div *ngIf="id_obra.errors.required">
                      ID de Obra Requerido.
                    </div>
                  </div>
                </div>
              </div><!-- FIN PRIMER CAMPO -->
              <div class="col-md-6 col-12"> <!-- INICIO OCTAVO CAMPO -->
                <div class="form-group">
                  <label for="id_concretera">Concretera</label> <!--tipo de credencial referido al catalogo de clientes.-->
                  <select   class="form-control"  id="id_concretera" required name="id_concretera" placeholder="Concretera" formControlName="id_concretera" >
                    <option value=""  selected>Selecciona una Concretera...</option>
                    <option *ngFor="let concretera of mis_con" [value]="concretera.id_concretera">
                      {{concretera.concretera}}
                    </option>
                  </select>
                  <div *ngIf="id_concretera.invalid && (id_concretera.dirty || id_concretera.touched)" class="alert alert-danger">            
                    <div *ngIf="id_concretera.errors.required">
                      Concretera requerida.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN OCTAVO CAMPO -->
            </div> <!-- FIN PRIMER ROW -->
            <div class="row"> <!-- INICIO SEGUNDO ROW -->
              <div class="col-md-12 col-12"> <!-- INICIO TERCER CAMPO -->
                <div class="form-group">
                  <label>Obra</label>
                  <input type="text" id="obra"  required   name="obra" class="form-control" placeholder="Obra"  formControlName="obra" (change)="onBlurObra()">
                  <div *ngIf="obra.invalid && (obra.dirty || obra.touched)"class="alert alert-danger">            
                    <div *ngIf="obra.errors.required">
                      Nombre de la obra requerido.
                    </div>
                  </div>
                </div>
              </div><!-- FIN TERCER CAMPO -->
            </div> <!-- FIN PRIMER ROW -->
            <div class="row"> <!-- INICIO SEGUNDO ROW -->
              
              <div class="col-md-6 col-12"> <!-- INICIO SEGUNDO CAMPO -->
                <div class="form-group">
                  <label>Prefijo</label>
                  <input type="text" id="prefijo"  required name="prefijo" class="form-control" placeholder="Prefijo" formControlName="prefijo">
                  <div *ngIf="prefijo.invalid && (prefijo.dirty || prefijo.touched)"
                    class="alert alert-danger">    
                    <div *ngIf="prefijo.errors.required">
                    Prefijo requerido.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN SEGUNDO CAMPO -->  
               <div class="col-md-6 col-12"> <!-- INICIO NOVENO CAMPO -->
                <div class="form-group">
                  <label>Cotizaci&oacute;n</label>
                  <input type="text" id="cotizacion"  required class="form-control" placeholder="Cotizaci&oacute;n" formControlName="cotizacion">
                  <div *ngIf="cotizacion.invalid && (cotizacion.dirty || cotizacion.touched)" class="alert alert-danger">            
                    <div *ngIf="cotizacion.errors.required"> No. de Cotizaci&oacute;n requerido requerido.</div>
                  </div>
                </div>
              </div><!-- FIN NOVENO CAMPO -->  
            </div><!-- FIN SEGUNDO ROW -->
            <hr>
            <br><h6>Consecutivos de documentos</h6><br>
            <div class="row"> <!-- INICIO SEXTO ROW -->
              <div class="col-md-12 col-12"> <!-- INICIO SEGUNDO CAMPO -->
                <div class="form-group">
                  <label for="consecutivoDocumentosCCH_REV">Consecutivo de documentos de <b>Revenimiento</b></label>
                  <input type="text" id="consecutivoDocumentosCCH_REV"  required name="consecutivoDocumentosCCH_REV" class="form-control" placeholder="consecutivoDocumentosCCH_REV" formControlName="consecutivoDocumentosCCH_REV">
                  <div *ngIf="consecutivoDocumentosCCH_REV.invalid && (consecutivoDocumentosCCH_REV.dirty || consecutivoDocumentosCCH_REV.touched)"class="alert alert-danger">    
                    <div *ngIf="consecutivoDocumentosCCH_REV.errors.required">Consecutivo de documentos requerido.</div>
                    <div *ngIf="consecutivoDocumentosCCH_REV.errors.pattern">Consecutivo de documentos solo debe contener numeros</div>              
                  </div>
                </div>
              </div> <!-- FIN SEGUNDO CAMPO -->  
            </div><!-- FIN SEGUNDO ROW -->
            <div class="row"> <!-- INICIO SEXTO ROW -->
             <div class="col-md-4 col-12"> <!-- INICIO SEGUNDO CAMPO -->
                <div class="form-group">
                  <label for="consecutivoDocumentosCCH_VIGA">Consecutivo de documentos de <b>Vigas</b></label>
                  <input type="text" id="consecutivoDocumentosCCH_VIGA"  required name="consecutivoDocumentosCCH_VIGA" class="form-control" placeholder="consecutivoDocumentosCCH_VIGA" formControlName="consecutivoDocumentosCCH_VIGA">
                  <div *ngIf="consecutivoDocumentosCCH_VIGA.invalid && (consecutivoDocumentosCCH_VIGA.dirty || consecutivoDocumentosCCH_VIGA.touched)" class="alert alert-danger">    
                    <div *ngIf="consecutivoDocumentosCCH_VIGA.errors.required">Consecutivo de documentos requerido.</div>
                    <div *ngIf="consecutivoDocumentosCCH_VIGA.errors.pattern">Consecutivo de documentos solo debe contener numeros</div>              
                  </div>
                </div>
              </div> <!-- FIN SEGUNDO CAMPO -->  
              <div class="col-md-4 col-12"> <!-- INICIO SEGUNDO CAMPO -->
                <div class="form-group">
                  <label for="consecutivoDocumentosCCH_CILINDRO">Consecutivo de documentos de <b>Cilindros</b></label>
                  <input type="text" id="consecutivoDocumentosCCH_CILINDRO"  required name="consecutivoDocumentosCCH_CILINDRO" class="form-control" placeholder="consecutivoDocumentosCCH_CILINDRO" formControlName="consecutivoDocumentosCCH_CILINDRO">
                  <div *ngIf="consecutivoDocumentosCCH_CILINDRO.invalid && (consecutivoDocumentosCCH_CILINDRO.dirty || consecutivoDocumentosCCH_CILINDRO.touched)" class="alert alert-danger">    
                    <div *ngIf="consecutivoDocumentosCCH_CILINDRO.errors.required">Consecutivo de documentos requerido.</div>
                    <div *ngIf="consecutivoDocumentosCCH_CILINDRO.errors.pattern">Consecutivo de documentos solo debe contener numeros</div>              
                  </div>
                </div>
              </div> <!-- FIN SEGUNDO CAMPO -->  
              <div class="col-md-4 col-12"> <!-- INICIO SEGUNDO CAMPO -->
                <div class="form-group">
                  <label for="consecutivoDocumentosCCH_CUBO">Consecutivo de documentos de <b>Cubos</b></label>
                  <input type="text" id="consecutivoDocumentosCCH_CUBO"  required name="consecutivoDocumentosCCH_CUBO" class="form-control" placeholder="consecutivoDocumentosCCH_CUBO" formControlName="consecutivoDocumentosCCH_CUBO">
                  <div *ngIf="consecutivoDocumentosCCH_CUBO.invalid && (consecutivoDocumentosCCH_CUBO.dirty || consecutivoDocumentosCCH_CUBO.touched)" class="alert alert-danger">    
                    <div *ngIf="consecutivoDocumentosCCH_CUBO.errors.required"> Consecutivo de documentos requerido.</div>
                    <div *ngIf="consecutivoDocumentosCCH_CUBO.errors.pattern">Consecutivo de documentos solo debe contener numeros</div>              
                  </div>
                </div>
              </div> <!-- FIN SEGUNDO CAMPO -->  
            </div> <!-- FIN SEXTO ROW -->
            <hr>
            <br><h6>Consecutivos de probetas</h6><br>
            <div class="row"> <!-- INICIO SEXTO ROW -->
              <div class="col-md-4 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label for="consecutivoProbetaCCH_VIGA">Consecutivo de Probeta de <b>Viga</b></label>
                  <input type="text" id="consecutivoProbetaCCH_VIGA" name="consecutivoProbetaCCH_VIGA" class="form-control" placeholder="Consecutivo" value="1" formControlName="consecutivoProbetaCCH_VIGA">
                  <div *ngIf="consecutivoProbetaCCH_VIGA.invalid && (consecutivoProbetaCCH_VIGA.dirty || consecutivoProbetaCCH_VIGA.touched)" class="alert alert-danger">            
                    <div *ngIf="consecutivoProbetaCCH_VIGA.errors.required">Consecutivo de Probeta requerido.</div>
                    <div *ngIf="consecutivoProbetaCCH_VIGA.errors.pattern">Consecutivo de Probeta solo debe contener numeros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
              <div class="col-md-4 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label for="consecutivoProbetaCCH_CILINDRO">Consecutivo de Probeta de <b>Cilindro</b></label>
                  <input type="text" id="consecutivoProbetaCCH_CILINDRO" name="consecutivoProbetaCCH_CILINDRO" class="form-control" placeholder="Consecutivo" value="1" formControlName="consecutivoProbetaCCH_CILINDRO">
                  <div *ngIf="consecutivoProbetaCCH_CILINDRO.invalid && (consecutivoProbetaCCH_CILINDRO.dirty || consecutivoProbetaCCH_CILINDRO.touched)" class="alert alert-danger">            
                    <div *ngIf="consecutivoProbetaCCH_CILINDRO.errors.required">Consecutivo de Probeta requerido.</div>
                    <div *ngIf="consecutivoProbetaCCH_CILINDRO.errors.pattern">Consecutivo de Probeta solo debe contener numeros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
              <div class="col-md-4 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label for="">Consecutivo de Probeta de <b>Cubo</b></label>
                  <input type="text" id="consecutivoProbetaCCH_CUBO" name="consecutivoProbetaCCH_CUBO" class="form-control" placeholder="Consecutivo" value="1" formControlName="consecutivoProbetaCCH_CUBO">
                  <div *ngIf="consecutivoProbetaCCH_CUBO.invalid && (consecutivoProbetaCCH_CUBO.dirty || consecutivoProbetaCCH_CUBO.touched)" class="alert alert-danger">
                    <div *ngIf="consecutivoProbetaCCH_CUBO.errors.required">Consecutivo de Probeta requerido.</div>
                    <div *ngIf="consecutivoProbetaCCH_CUBO.errors.pattern">Consecutivo de Probeta solo debe contener numeros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
            </div> <!-- FIN SEXTO ROW -->
            <hr>
            <br><h6>Incertidumbres</h6><br>
            <div class="row"> <!-- INICIO TERCER ROW -->
              <div class="col-md-4 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label for="incertidumbreVigas">Incertidumbre <b>Vigas</b></label>
                  <input type="text" id="incertidumbreVigas" name="incertidumbreVigas" required class="form-control" placeholder="Incertidumbre Vigas" formControlName="incertidumbreVigas">
                  <div *ngIf="incertidumbreVigas.invalid && (incertidumbreVigas.dirty || incertidumbreVigas.touched)" class="alert alert-danger">            
                    <div *ngIf="incertidumbreVigas.errors.required">Incertidumbre requerido.</div>
                    <div *ngIf="incertidumbreVigas.errors.pattern">Incertidumbre solo debe contener decimales (precisi&oacute;n a centecimas) o enteros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
              <div class="col-md-4 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label for="incertidumbreCilindro">Incertidumbre de <b>Cilindros</b></label>
                  <input type="text" id="incertidumbreCilindro" name="incertidumbreCilindro" required class="form-control" placeholder="Incertidumbre Cilindros" formControlName="incertidumbreCilindro">
                  <div *ngIf="incertidumbreCilindro.invalid && (incertidumbreCilindro.dirty || incertidumbreCilindro.touched)" class="alert alert-danger">            
                    <div *ngIf="incertidumbreCilindro.errors.required">Incertidumbre requerido.</div>
                    <div *ngIf="incertidumbreCilindro.errors.pattern">Incertidumbre solo debe contener decimales (precisi&oacute;n a centecimas) o enteros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
              <div class="col-md-4 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label for="incertidumbreCubo">Incertidumbre <b>Cubos</b></label>
                  <input type="text" id="incertidumbreCubo" name="incertidumbreCubo" required class="form-control" placeholder="Incertidumbre Cubos" formControlName="incertidumbreCubo">
                  <div *ngIf="incertidumbreCubo.invalid && (incertidumbreCubo.dirty || incertidumbreCubo.touched)" class="alert alert-danger">            
                    <div *ngIf="incertidumbreCubo.errors.required">Incertidumbre requerido.</div>
                    <div *ngIf="incertidumbreCubo.errors.pattern">Incertidumbre solo debe contener decimales (precisi&oacute;n a centecimas) o enteros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
            </div> <!-- FIN SEXTO ROW -->
            <hr>
            <br>
            <div class="row"> <!-- INICIO SEXTO ROW -->
              <div class="col-md-6 col-12"> <!-- INICIO NOVENO CAMPO -->
                <div class="form-group">
                  <label>Revenimiento</label>
                  <input type="text" id="revenimiento"  required  name="revenimiento" class="form-control" placeholder="Revenimiento" formControlName="revenimiento">
                  <div *ngIf="revenimiento.invalid && (revenimiento.dirty || revenimiento.touched)" class="alert alert-danger">            
                    <div *ngIf="revenimiento.errors.required"> Revenimiento requerido.</div>
                    <div *ngIf="revenimiento.errors.pattern">Revenimiento solo debe contener numeros</div>              
                  </div>
                </div>
              </div><!-- FIN NOVENO CAMPO -->  
              <div class="col-md-6 col-12"> <!-- INICIO DECIMO CAMPO -->
                <div class="form-group">
                  <label>Incertidumbre de Revenimiento</label>
                  <input type="text" id="incertidumbre" name="incertidumbre" class="form-control" placeholder="Incertidumbre" formControlName="incertidumbre">
                  <div *ngIf="incertidumbre.invalid && (incertidumbre.dirty || incertidumbre.touched)" class="alert alert-danger">            
                    <div *ngIf="incertidumbre.errors.required">Incertidumbre requerido.</div>
                    <div *ngIf="incertidumbre.errors.pattern">Incertidumbre solo debe contener decimales (precisi&oacute;n a centecimas) o enteros</div>              
                  </div>
                </div>
              </div><!-- FIN DECIMO CAMPO --> 
            </div> <!-- FIN SEXTO ROW -->
            <div class="row"> <!-- INICIO TERCER ROW -->
              <div class="col-md-6 col-12"> <!-- INICIO CUARTO CAMPO -->
                <div class="form-group">
                  <label for="id_cliente">Cliente</label> 
                  <select   class="form-control"  id="id_cliente"required placeholder="Cliente" formControlName="id_cliente">
                    <option value="" selected>Selecciona un Cliente...</option>
                    <option *ngFor="let cli of mis_cli" [value]="cli.id_cliente">
                      {{cli.nombre}}
                    </option>
                  </select>
                  <div *ngIf="id_cliente.invalid && (id_cliente.dirty || id_cliente.touched)" class="alert alert-danger">            
                    <div *ngIf="id_cliente.errors.required">
                      Cliente requerido.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN CUARTO CAMPO -->
              <div class="col-md-6 col-12"> <!-- INICIO QUINTO CAMPO -->
                <div class="form-group">
                  <label for="tipo">Tipo</label> 
                  <select   class="form-control"  id="tipo" required name="tipo" placeholder="Tipo" formControlName="tipo">
                    <option value="" selected>Selecciona un Tipo...</option>
                    <option  value="1">Iguala </option>
                    <option  value="2">Unitario</option>
                  </select>
                  <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-danger">            
                    <div *ngIf="tipo.errors.required">
                      Tipo requerido.
                    </div>
                  </div>
                </div>
              </div><!-- FIN QUINTO CAMPO -->
            </div> <!-- FIN TERCER ROW -->
            <div class="row"> <!-- INICIO CUARTO ROW -->
              <div class="col-md-12 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label for="descripcion">Descripci&oacute;n</label>
                  <textarea type="text" id="descripcion" class="form-control" name="descripcion" placeholder="descripcion" formControlName="descripcion" ></textarea>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
            </div> <!-- FIN CUARTO ROW -->
            <div class="row"> <!-- INICIO CUARTO ROW -->
              <div class="col-md-12 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label for="localizacion">Localizaci&oacute;n</label>
                  <textarea type="text" id="localizacion" required class="form-control" placeholder="localizacion" formControlName="localizacion" ></textarea>
                  <div *ngIf="localizacion.invalid && (localizacion.dirty || localizacion.touched)" class="alert alert-danger">            
                    <div *ngIf="localizacion.errors.required"> Localizaci&oacute;n requerido.</div>
                  </div>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
            </div> <!-- FIN CUARTO ROW -->
            <div class="row"> <!-- INICIO CUARTO ROW -->
              <div class="col-md-6 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label>Fecha de Creacion</label>
                  <input type="date"  id="fechaDeCre" required   name="fechaDeCre"  class="form-control" formControlName="fechaDeCre">
                  <div *ngIf="fechaDeCre.invalid && (fechaDeCre.dirty || fechaDeCre.touched)" class="alert alert-danger">            
                    <div *ngIf="fechaDeCre.errors.required">
                      Fecha de Creacion requerida.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
              <div class="col-md-6 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label>Nombre de Residente</label>
                  <input type="text"  id="nombre_residente" required  placeholder="Nombre de Residente" name="nombre_residente"  class="form-control" formControlName="nombre_residente">
                  <div *ngIf="nombre_residente.invalid && (nombre_residente.dirty || nombre_residente.touched)" class="alert alert-danger">            
                    <div *ngIf="nombre_residente.errors.required">
                      Nombre de Residente requerido.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
            </div> <!-- FIN CUARTO ROW -->
            <div class="row">
              <div class="col-md-6 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label>Correo de Residente</label>
                  <input type="text"  id="correo_residente" required  placeholder="Correo de Residente" name="correo_residente"  class="form-control" formControlName="correo_residente">
                  <div *ngIf="correo_residente.invalid && (correo_residente.dirty || correo_residente.touched)" class="alert alert-danger">            
                    <div *ngIf="correo_residente.errors.required">
                      Correo de Residente requerido
                    </div>
                    <div *ngIf="correo_residente.errors.pattern">
                      Formato incorrecto para correo electr&oacute;nico.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
              <div class="col-md-6 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label>Tel&eacute;fono de Residente</label>
                  <input type="text"  id="telefono_residente" required  placeholder="Tel&eacute;fono de Residente" name="telefono_residente"  class="form-control" formControlName="telefono_residente">
                  <div *ngIf="telefono_residente.invalid && (telefono_residente.dirty || telefono_residente.touched)" class="alert alert-danger">            
                    <div *ngIf="telefono_residente.errors.required">
                      Tel&eacute;fono de Residente requerido
                    </div>
                    <div *ngIf="telefono_residente.errors.pattern">Tel&eacute;fono solo debe contener numeros</div>              
                  </div>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
            </div>
            <div class="row">
              <div class="col-md-12 col-12"> <!-- INICIO SEXTO CAMPO -->
                <div class="form-group">
                  <label>Correo Alterno</label>
                  <input type="text"  id="correo_alterno" required  placeholder="Correo Alterno" name="correo_alterno"  class="form-control" formControlName="correo_alterno">
                  <div *ngIf="correo_alterno.invalid && (correo_alterno.dirty || correo_alterno.touched)" class="alert alert-danger">            
                    <div *ngIf="correo_alterno.errors.required">
                      Correo Alterno requerido
                    </div>
                    <div *ngIf="correo_alterno.errors.pattern">
                      Formato incorrecto para correo electr&oacute;nico.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN SEXTO CAMPO -->
            </div>
            <div class="row"> 
              <div class="col-md-12 col-12">
                  <p style="color: orange">{{cargandoMessage}}<p>
                  <p style="color: green">{{actualizarMessageCargando}}<p>
              </div>
            </div>

            <button  type="submit" class="btn btn-success" [disabled]="obraForm.invalid"  (click)="crearObra(); ">
              <span><b> Guardar Cambios. </b></span>
            </button>
          </form>
        </div>
      </div>
    </div>
    
</div>

