          <div class="btn-group" *ngIf="selected"  style="float: right; padding-right: 5%;">
            <button [ngClass]="{'btn':true,'btn-default': !deleteAbility ,'btn-danger': deleteAbility }"  (click)="deleteRegistro();">
              <span><b>Eliminar &nbsp;&nbsp;</b></span>
              <i class="fa fa-times-circle-o" style="font-size:18px; display: inline-block; "></i>
            </button>
          </div>
          <div class="btn-group" *ngIf="selected"  style="float: right; padding-right: 5%;">
            <button class="btn btn-success" (click)="openPDF();">
              <span><b>Ver PDF &nbsp;&nbsp;</b></span>
              <i class="fa fa-file-pdf-o" style="font-size:18px; display: inline-block; "></i>
            </button>
          </div>
          <div *ngIf="selected">
            <br><br><br>
          </div>
          <p style="color: red;"><b>{{noRowDataError}}</b></p>
          <ag-grid-angular 
            #agGrid
            id="myGrid"
            style="width: 100%; height: 300px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [rowData]="rowData"
            [rowClassRules]="rowClassRules" 
            [columnDefs]="columnDefs"
            [enableFilter]="true"
            [enableColResize]="true"
            [colResizeDefault]="false"
            [suppressAutoSize]="true"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            >
          </ag-grid-angular>
    
    
  

