<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title"><i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaCliente();"></i>
            Crear Nuevo Cliente</h5>
        </div>
        <div class="card-body">

           <form [formGroup]=clienteForm #formDir="ngForm" >
           <!--  <div class="cross-validation" [class.cross-validation-error]="clienteForm.touched || clienteForm.dirty" en caso de no servir los presets viejos quiertar el comentado > -->
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="rfc">R.F.C.</label>
                  <input  type="text" id= "rfc"  required [disabled]="!hidden"  class="form-control" placeholder="RFC"  formControlName="rfc">
                   <div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)" class="alert alert-danger">
                   <div *ngIf="rfc.errors.required">
                   RFC requerido.
                </div>
                <div *ngIf="rfc.errors.pattern">Verifica tu R.F.C , recuerda que el R.F.C de personas físicas esta compuesto de 4 caracteres alfanuméricos, mas 6 numeros  y 3 carateres nuevamente alfanuméicos</div>                
              </div>
                </div>
              </div>
               <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="nombre">Nombre de la empresa.</label> 
                   <input type="text"  id= "nombre" required [disabled]="!hidden"  class="form-control" name="nombre" placeholder="Tu Empresa S.A. de C.V."  formControlName="nombre">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
              class="alert alert-danger">            
              <div *ngIf="nombre.errors.required">
              Nombre de la empresa requerido.
              </div>
            </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-12 col-12 ">
                <div class="form-group">
                  <label for="razonSocial">Raz&oacute;n social.</label> 
                   <input type="text"  id= "razonSocial"   required [disabled]="!hidden" class="form-control" name="razonSocial" placeholder="Tu Empresa S.A. de C.V."  formControlName="razonSocial">
            <div *ngIf="razonSocial.invalid && (razonSocial.dirty || razonSocial.touched)"
              class="alert alert-danger">
              <div *ngIf="razonSocial.errors.required">
                Raz&oacute;n social. requerida.
              </div>
            </div>
                  </div>
                 </div>
              </div>
         <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group">
                 <label for="direccion">Direcci&oacute;n.</label>
                  <textarea  rows="2" cols="12"  id= "direccion" required [disabled]="!hidden"  class="form-control" name="direccion" placeholder="Avenida Siempre Viva 2141" formControlName="direccion"> </textarea>
  <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
              class="alert alert-danger">
              <div *ngIf="direccion.errors.required">
                 Direcci&oacute;n requerida.
              </div>
            </div>
                </div>
              </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="telefono">Tel&eacute;fono de la Empresa.</label>
                  <input type="text"   id= "telefono" required [disabled]="!hidden"  name="telefono"  class="form-control" placeholder="555501234" formControlName="telefono" >
             <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
              class="alert alert-danger">
              <div *ngIf="telefono.errors.required">
                 Tel&eacute;fono de la Empresa requerido.
              </div>
               <div *ngIf="telefono.errors.pattern">Tel&eacute;fono solo debe contener numeros</div>
             </div>
                </div>
              </div>
                <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="email">Correo Electronico.</label>
                  <input type="text"  id= "email"   required [disabled]="!hidden"   class="form-control" name="email"  formControlName="email" placeholder="mail@lacocs.com" >
             <div *ngIf="email.errors && (email.dirty || email.touched)"
              class="alert alert-danger">
              <div *ngIf="email.errors.required">Correo requerido.</div>
              <div *ngIf="email.errors.pattern">El correo debe contener @</div>
             </div>
                </div>
              </div>
                </div>
            <div class="row">
                        <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="nombreContacto">Nombre de contacto.</label>
                  <input type="text"  id= "nombreContacto"  required [disabled]="!hidden"   name="nombreContacto" class="form-control" placeholder="Nombre Contacto" formControlName="nombreContacto">
             <div *ngIf="nombreContacto.invalid && (nombreContacto.dirty || nombreContacto.touched)"
              class="alert alert-danger">
              <div *ngIf="nombreContacto.errors.required">
                Nombre de contacto requerido.
              </div>
            </div>
                </div>
              </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="telefonoDeContacto"> Tel&eacute;fono de Contacto.</label>
                  <input type="text"  id= "telefonoDeContacto" required [disabled]="!hidden"  class="form-control" name="telefonoDeContacto" placeholder="555501234" formControlName="telefonoDeContacto">
  <div *ngIf="telefonoDeContacto.invalid && (telefonoDeContacto.dirty || telefonoDeContacto.touched)"
              class="alert alert-danger">
              <div *ngIf="telefonoDeContacto.errors.required">
                Tel&eacute;fono de contacto requerido.
              </div>
              <div *ngIf="telefonoDeContacto.errors.pattern">Tel&eacute;fono solo debe contener numeros</div>
            </div>
                </div>
              </div>
            </div>
            <!--</div>-->

           
            <button  type="submit" class="btn btn-success" [disabled]="clienteForm.invalid"  (click)="crearCliente(); ">
              <span><b> Guardar Cambios. </b></span>
            </button>

          </form>
        </div>
      </div>
    </div>
    
</div>

